body {
    text-align: center;
    margin: 20px;
}
#overall {
    width: 100%;
    margin: auto;
    text-align: left;
}

.faq-item {
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next {
    width: 40px; 
    height: 40px;
    font-size: 20px;
    background-color: darkcyan;
    color: white;
}

.faqcontent {
    display: none;
  }
  
  .faqcontent.show {
    display: block;
  }
